* {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dayNumHeading,
.dayNum {
  border: solid 1px #eee;
  height: 30px;
}

.dayNumHeading {
  font-weight: 700;
  background: #eee;
}

#lastMonthLink,
#nextMonthLink {
  display: block;
  float: left;
  width: 50%;
  margin: 1rem 0;
}

#nextMonthLink {
  text-align: right;
}
